// RESET
body {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
}
ul {
  li {
    list-style: none;
  }
}

// Header
header {
  width: 100%;
  height: 20vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  .item {
    width: 85%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .i-con {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .i {
        font-size: 26px;
        color: antiquewhite !important;
      }
      .my-bars{
        width: 35px;
        height: 35px;
        display: inline-block;
        position: relative;
        &:hover{
            span{
                &::after{
                    transition: all 400ms ease-in-out;
                    left: 40px;
                }
            }
        }
        
        span{
            width: 90%;
            height: 2.5px;
            background-color: #fff;
            display: inline-block;
            position: absolute;
            top:7px;
            overflow: hidden;
            &::after{
                content: '';
                width: 60%;
                height: 100%;
                background-color: #1d282c;
                position: absolute;
                left: -20px;
            }
        }
        .two{
            top: 17px;
            &::after{
                
                transition-delay:50ms  !important;
            }
        }
        .three{
            top: 27px;
            &::after{

                transition-delay:100ms !important;
            }
        }
      }
    }
  }
}


// Tasty Section
#tasty {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://webstrot.com/html/cooltown/html/images/header_bg2.jpg")
    center/cover no-repeat;
    .container{
      margin-top: 100px;
      .row{
        .col-first{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: #fff;
          *{
            margin: 10px 0;
          }
          h3{
            font-size: 60px;
          }
          p{
            line-height: 30px;
          }
          .buttons{
            button{
              outline: none;
              background-color: #fff;
              padding: .7rem 2rem;
              border:none;
              border: 1px solid #fff;
              transition: all 300ms ease-in-out;
              &:hover{
                background-color: transparent;
                color: #fff;
              }
            }
            .two{
              margin-left:10px ;
              background-color:transparent ;
              color: #fff;
              &:hover{
                background-color: #fff;
                color: #000;
              }
            }
          }
        }
        .col-second{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
}



// Owerlay Section
#owerlay {
  background-color: #f35564;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 1s;
  overflow: hidden;
  display: flex;
  width: 100%;
  opacity: .3;
  height: 0;
  left: 0;
  top: 0;
  .my-close{
    top: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    display: flex;
    position: fixed;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    span{
      background-color: #fff;
      position: absolute;
      overflow: hidden;
      display: block;
      width: 100%;
      height: 3px;
      z-index: 5;
      top: 15px;
      &::after{
        content: '';
        width: 40%;
        left: -20px;
        height: 100%;
        display: block;
        position: absolute;
        background-color: #f35564;
      }
    }
    .one{
      transform: rotate(46deg) ;
    }
    .two{
      transform: rotate(-46deg);
      &::after{
        transition-delay: 50ms !important;
      }
    }
    &:hover{
      span{
        &::after{
          left: 40px;
          transition: all .4s ;
        }
      }
    }
  }
  
  ul {
    width: auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all 600ms;
    li {
      line-height: 60px;
      font-weight: 600;
      font-size: 28px;
      color: #fff;
      .my-nav{
        color: #fff;
        text-decoration: none;
      }
    }

  }
}

.opn{
    height: 100vh !important;
    z-index: 111;
    opacity: 1 !important;

}
.opacity{
    opacity: 1 !important;
    transition-delay: 300ms !important;

}

// Little Section
#little{
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  background:url("https://webstrot.com/html/cooltown/html/images/header_bg3.jpg") center/cover no-repeat ;
  .container{
    .row{
      .col-content{
        display: flex;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        *{
          margin: 15px 0;
        }
        h4{
          font-size: 15px;
          margin: 0;
          padding: 0;
        }
        h3{
          font-size: 33px;
          letter-spacing: 2px;
          line-height: 60px;
          &::after{
            content:'';
            width: 40px;
            height: 4px;
            background-color: #fff;
            display: block;
          }
        }
        p{
          letter-spacing: 1.1px;
        }
        img{
          width: 300px;
        }
        h5{
          font-size: 18px;
        }
        h6{
          font-size: 16px;
        }
      }
      .col-img{
      img{

        width: 85%;
        height: 90%;
      }
      }
    }
  }
}
// Offer Section
#offer{
  width: 100%;
  height: 100vh;
  padding: 30px 0;
  background: url("https://webstrot.com/html/cooltown/html/images/header_bg4.jpg") center/cover no-repeat;
  .container{
    .row{
      .col-content{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        color: #fff;
        h4{
          font-size: 15px;
          letter-spacing: 1px;
        }
        .aft{
          font-size: 34px;
          &::after{
            content: '';
            width: 40px;
            height: 4px;
            background-color: #fff;
            display: block;
            margin-top: 15px;
          }
        }
        *{
          margin: 7px 0;
        }
        .i-con{
          display: flex;
          align-items: center;
          justify-content: space-around;
          .content{
            width: 80%;
            p{
              width: 85%;
              line-height: 25px;
            }
          }
          span{
            border: 1px solid #fff;
            padding: 7px 15px;
            border-radius: 50%;
            align-self: flex-start;
            .i{
              font-size: 30px;
            }
          }
        }
        button{
          outline: none;
          color: #67c6f1;
          padding: .7rem 2rem;
          background-color: #fff;
          border: 1px solid #fff;
          transition: all 500ms ease;
          &:hover{
            color: #fff;
            background-color: #67c6f1;
          }
        }
      }
      .col-img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        img{
          width: 90%;
          height: 100%;
        }
      }
    }
  }
}
// Gallery Section
#gallery{
  width: 100%;
  height: 100vh;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  background: url("https://webstrot.com/html/cooltown/html/images/header_bg5.jpg") center/cover no-repeat;
  text-align: center;
  h4{
    font-size: 16px;
  }
  h3{
    font-size: 33px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &::after{
      content: '';
      width: 40px;
      height: 4px;
      display: block;
      margin-top: 10px;
      background-color: #fff;
    }
  }
  .owl-theme{
    .owl-item{
      background-color: #67c6f1;
    }
  }
  button{
    outline: none;
    color: #f06292;
    padding: .8rem 2rem;
    border: 1px solid #fff;
    background-color: #fff;
    transition: all 500ms ease;
    &:hover{
      color: #fff;
      background-color: #f06292;
    }
  }
}
// Services Section
#services{
  width: 100%;
  height: 100vh;
  display: flex;
  color: #fff;
  padding: 10px 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url("https://webstrot.com/html/cooltown/html/images/header_bg6.jpg") center/cover no-repeat;
  h4{
    font-size: 16px;
    text-align: center;
    // margin-bottom: -20px;
  }
  h3{
    font-size: 33px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &::after{
      content: '';
      width: 50px;
      height: 4px;
      display: block;
      margin-top: 10px;
      background-color: #fff;
    }
  }
  .container{
    margin: 15px 0 !important;
    .row{
      .col-12{
        span{
          display: inline-block;
          border: 1.5px solid #fff;
          border-radius: 50%;
          padding: 10px 14px;
          position: relative;
          overflow: hidden;
          transition: all 500ms ease;
         
          &::before{
            content: '';
            width: 100%;
            height: 100%;
            right: -60px;
            top: 15px;
            display: block;
            position: absolute;
            border-radius:50% ;
            background-color: #fff;
            transition: all 600ms ease;
          }

          .i{
            font-size: 30px;
            transition: all 600ms ease;
            position: relative;
            z-index: 1;
          }
          &:hover{
            
            &::before{
              top: 0;
              right: 0;
            }
            .i{
              color: #9ccc65;
            }
          }
        }
        .aft{
          position: relative;
          margin-top: -7px;
          margin-left: 3px;
          &::after{
            content: '';
            display: block;
            width: 280px;
            height: 1.5px;
            background-color: #fff;
            position: absolute;
            bottom: -1px;
            left: 23px;
            z-index: 4;
          }
        }
      }
    }
    h5{
      font-size: 30px;
      margin: 30px 0;
    }
    p{
      letter-spacing: 1.2px;
      margin: 14px 0;
    }
  }
  button{
    padding: .7rem 2rem;
    outline: none;
    border: 1px solid #fff;
    color: #9ccc65;
    transition: all 500ms ease;
    &:hover{
      background-color: #9ccc65;
      color: #fff;
    }
  }
}

// Media Query

@media (max-width:990px){
  header{
    position: static;
    background-color: #000;
  }
  #tasty{
    height: auto ;
  }
  .col-second{
    img{
      width: 80% !important;
      height: 90% !important;
    }
  }
  #little{
    height: auto;
    .col-content{
      order: 1;
    }
    .col-img{
      order: 2;
    }
  }
  #offer{
    height: auto;
  }
  #services{
    height: auto;
  }
}